history
lisp/custom.el
org-clock-save.el
eshell/
.#*
.DS_Store
tramp
.SyncArchive/
.SyncID
.SyncIgnore
ac-comphist.dat
auto-save-list/
elpa/
snippets/
*~
url/
places
saveplace.el
.cask/
bookmarks
ido.last
projectile-bookmarks.eld
recentf
.emacs.desktop
.emacs.desktop.lock
smex-items
semanticdb/
var/
helm-adaptive-history
